html {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #fff;

}
h1 {
  text-align: center;
  font-size: 3rem;
  color:rgb(255, 255, 255);
  margin-top: 100px;
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
  background-color: #F9B872;

}
button {
  background-color:#B6E1E7;
  color: #fff;
  border: none;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
  background-color: #F9B872;
}

label {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #000000;
  padding: 10px;
  background-color: #F9B872;
}

button:hover {
  background-color: #1f7ab6;
}

.save-button {
  background-color:#B6E1E7;
  color: #fff;
  border: none;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}
.texte{
  font-size:2rem;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  background-color: #B6E1E7;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

nav img {
  height: 60px;
  float: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}